<!-- <app-single-note *ngFor="let note of notes"></!-->
<!-- <mat-grid-list cols="{{desired_columns}}" rowHeight="25vh"> -->
<!-- <div></div>
  <mat-grid-tile class="tile"
        *ngFor="let note of notes">
      <app-single-note></app-single-note>
    </mat-grid-tile> -->
<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
<cdk-virtual-scroll-viewport itemSize="80000" class="example-viewport disable-scrollbars">
  <div  fxLayout="row wrap" fxLayoutWrap fxLayoutAlign="center center">
  <app-single-note *ngFor="let note of notes" [header]="note.Header" [date]="note.DateSent" [content]="note.Content" [EntryID]="note.EntryID"></app-single-note>
</div>
  </cdk-virtual-scroll-viewport>
  <!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </mat-grid-list> -->

