<div class="container-fluid create-note-container" >
  <div class="row">
    <div class="col-12 pt-3">
      <h6  style="font-family: Roboto; font-weight:300;">{{today | date:'fullDate'}}</h6>
      <!-- <mat-form-field class="mt-0 pt-0" style="border:none;"> -->
          <input matInput  style="border:none;padding-left:10px; font-family:Roboto; font-size:25px;" class="displa" value="Note Headline">
        <!-- </mat-form-field> -->

        <mat-form-field class="disable-scrollbars note">
            <mat-label></mat-label>
            <textarea class="note disable-scrollbars"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize" value="Begin typing..."
                     ></textarea>
          </mat-form-field>
    </div>
  </div>


</div>
