<div class="container-fluid px-0 h-100 align-items-center">
  <div  class="row no-gutters align-items-start height100VH">
    <div class="col-10 offset-1 col-md-4 offset-md-4   text-center  my-auto  pt-4">
      <div class="content pb-5 mb-5">
      <div class="display-4 mt-4 pt-4">
      <!--<img src="../../assets/keyonsjournallogo.png" alt="Logo" class="img-thumbnail w-10 border-0" style="white-space:nowrap">-->
      <h2 class="journal-font display-4  text-center align-self-start" style="display:inline;" >Keyon's Journal</h2>
      </div>
      <br>
      <h3 class="roboto text-white mt-4  mb-5 button-sizer" >Get words down fast.</h3>
      <h3 class="roboto text-white mt-4  mb-5 button-sizer text-italic" >Keep your own private notes.</h3>
        <img src="../../assets/keyonsjournallogo.png" alt="Logo" class="img-thumbnail w-10 border-0" style="white-space:nowrap">
      <div>
        <div class="mb-0 mt-0 pb-0 pt-0">
            <mat-form-field class="form-sizer mt-5 pb-3" appearance="fill" >
                <mat-label>Username</mat-label>
                <input matInput placeholder="" [(formControl)]="username"  id="no-space" >
                <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
                <!-- <mat-icon >home</mat-icon> -->
               <!-- <mat-hint></mat-hint> -->
              </mat-form-field>
        </div>
        <div class=" mt-0 pt-0">
            <mat-form-field appearance="fill" class="form-sizer pb-3">
                <mat-label>Password</mat-label>
                <input matInput  (keyup.enter)="login()"placeholder="" [type]="hide ? 'password' : 'text'"  [(formControl)]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>

              </mat-form-field>
      </div>
      <div class="text-center">

          <button id="x1" class="button-sizer" mat-raised-button color="primary" (click)="login()">LOGIN</button>
          <mat-error *ngIf="!loginSuccessful">No account found!</mat-error>
          &nbsp;
          <button  class="button-sizer" mat-raised-button color="primary" style="margin-top:0.25em;" (keyup.enter)="openDialog()" (click)="openDialog()">CREATE ACCOUNT</button>
      </div>
    </div>


    </div> <!-- content-->
    </div> <!-- col-->
    <div class="col-md-4 col-2">

    </div>

  </div> <!-- container-->

</div>
<style>
</style>
