/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.full-screen {
  height:100vh;
  width:100vw;
  position: absolute;
}


.greyRoboto {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #434141;


}
.roboto {
  font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top:-2vh !important;
  color:white;
}
.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* IE 10+ */
}

.makeOpaque {
  opacity:0.5;
}


.bg-login {
  /* background-image:url(./assets/undrawprogressbackground.svg); */
  /* background-image:url('./assets/undraw_conference_uo36.svg'); */
  /* background-image:url('./assets/flat-mountains.svg');*/
  background-image:url('./assets/confetti-doodles.svg');
  /* background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #081F59;
  /* background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #661418; */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;

  }
  .mat-form-field-underline,  .mat-form-field-ripple {
    background-color:#3f51b5!important;


  /*background-color:white!important;
 */ }
  .mat-input-element, .mat-form-field{
    color:black;
    caret-color: white;

  }

  .mat-form-field-empty.mat-form-field-label {
    /*color: #3f51b5;
    */
    color:black;
  }
/*
   .snackbar, .snackBarInfo{
    max-width:10px !important;
  }

  .mat-snack-bar-container {
    max-width:10px !important;
    padding:0 !important;
    margin:0 !important;
  }
    .mat-simple-snackbar {
    max-width:200px !important;  }

 simple-snack-bar {
  width: 200px !important;
  margin: 0 !important;
    } */
div#cdk-overlay-0.cdk-overlay-pane {
  /* width:40vw !important; */
}
/* https://stackoverflow.com/questions/50604345/how-to-color-text-input-in-angular-material/50605823*/
