/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.full-screen {
  height:100vh;
  width:100vw;
  position: absolute;
}

.journal-font {

font-family: Roboto;
font-style: normal;
font-weight: 375;
font-size: 64px;
line-height: 75px;
text-align: center;
color: #434141;


}
.greyRoboto {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #434141;
}
.bg-login {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #333A4A;
  background-repeat: no-repeat;
  background-size: auto;

  }
  .mat-form-field-underline,  .mat-form-field-ripple {
    background-color: rgb(255, 255,255) !important;

  }
  .mat-input-element, .mat-form-field{
    color:white;
    caret-color: white;

  }

  .mat-form-field-empty.mat-form-field-label {
    color: white;
}
/* https://stackoverflow.com/questions/50604345/how-to-color-text-input-in-angular-material/50605823*/
